<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #000000;
            margin: 0;
            padding: 0;
        }
        nav {
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        nav ul li {
            float: left;
        }
        nav ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        .search-bar-container {
            display: flex;
            justify-content: end;
            margin: 0 auto;
            flex: 2;
        }
        .search-bar {
            padding: 10px;
            border: none;
            border-radius: 5px;
            width: 450px;
            font-size: 16px;
            padding-left: 10px;
        }
        .search-btn {
            background-color: #333;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-left: -4px;
        }

        .btn{
            background-color: #141414;
            color: #fff;
            border: none;
            padding: 3px 10px;
            border-radius: 5px;
            cursor: pointer;
            margin-left: 10px;
        }
        .form {
            
            max-width: 250px;
            margin: 5% auto;
            background: #f9f9f9;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .label, .input {
            display: block;
            margin-bottom: 10px;
        }
        .input[type="submit"] {
            background-color: #000000;
            color: white;
            padding: 10px 30px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            font-size: 16px;
        }
        .input[type="submit"]:hover {
            background-color: #292929;
        }

    </style>
</head>
<body>
    
    <%- include("navbar.ejs") %>

    
    <form action="/register" method="post" class="form">
        <h2>User Registration Form</h2>
        <label for="username" class="label">Username:</label>
        <input type="text" id="username" name="username" class="input" required>

        <label for="email"  class="label">Email:</label>
        <input type="email" id="email" name="email"  class="input" required>

        <label for="password"  class="label">Password:</label>
        <input type="password" id="password" name="password"  class="input" required>

        <label for="confirm-password"  class="label">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password"  class="input" required>

        <input type="submit"  class="input" value="Register">
    </form>
</body>
</html>
